<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950704207097-58fjonrg12fq7206mgt8s5ff6qlv633o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950704207097-58fjonrg12fq7206mgt8s5ff6qlv633o</string>
	<key>API_KEY</key>
	<string>AIzaSyDjPvIlp87nAep2wj19opfDZKJzFDA39b4</string>
	<key>GCM_SENDER_ID</key>
	<string>950704207097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.devdezyn.syren</string>
	<key>PROJECT_ID</key>
	<string>syren-b522e</string>
	<key>STORAGE_BUCKET</key>
	<string>syren-b522e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950704207097:ios:c7e1bd5d8d9e754e5d9e28</string>
</dict>
</plist>